*.log
*.rbc
*.sw?
.bundle
.DS_Store
coverage
doc/rdoc/*
ext/redcloth_scan/*.bundle
ext/redcloth_scan/*.class
ext/redcloth_scan/*.jar
ext/redcloth_scan/*.java
ext/redcloth_scan/*.so
ext/redcloth_scan/*.[co]
ext/redcloth_scan/extconf.rb
ext/redcloth_scan/Makefile
ext/redcloth_scan/redcloth_*.rb
lib/*.bundle
lib/*.jar
lib/*.so
lib/**/*.so
lib/redcloth_scan.rb
pkg
rdoc
release
tmp
Gemfile.lock