language: ruby
rvm:
  - 2.0.0
  - 1.9.3
  - 1.9.2
  - jruby-18mode
  - jruby-19mode
  - rbx-2.1.1
  - ruby-head
  - jruby-head
  - 1.8.7
  - ree
compiler:
  - clang
  - gcc
before_script:
  - rake clobber
